/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    body {
        font-size: 13px;
    }
    .menu a {
    height: 36px;
    padding: 0 9px;
    }
    .menu {
        margin: 0 10px;
    }
    .logo img {
        width: 145px;
    }
    .phone-main {
        font-size: 15px;
    }
    .header .btn-main {
        font-size: 11px;
        padding: 0 12px;
        height: 36px;
    }
    .btn-tg { 
    width: 32px;
    height: 32px;
    font-size: 16px; 
    }
    .header {
    padding: 16px 0;
    }
    .row {
        margin: 0 -10px;
    }
    .row > div {
        padding: 0 10px;
    }
    .banner__main {
    height: 405px;
    padding: 30px 27px;
    }
    .title-big {
    font-size: 58px;
    margin-bottom: 27px;
    }
    .title-middle {
    font-size: 20px;
    }
    .banner__main .title-big, .banner__main .title-middle {
    max-width: 292px;
}
.btn-main {
    height: 48px;
    padding: 0 35px;
    font-size: 14px;
}
.banner__main .btn-main {
    padding: 0 24px;
}
.banner__small {
    height: 156px;
    padding: 9px 18px;
    margin-bottom: 16px;
}
.subtitle-main {
    font-size: 19px;
}
.banner__small .subtitle-main {
    max-width: 128px;
}
.banner__small:nth-child(2) {
    height: 234px;
}
.tabs-filter a {
    font-size: 12px;
    height: 43px;
    padding: 0 16px;
}
.tabs-filter {
    gap: 12px;
}
.item-form input, .item-form textarea, .item-form .jq-selectbox__select-text {
    height: 44px;
    padding: 0 14px;
    font-size: 12px;
}
.item-tarif__head {
    height: 70px;
    font-size: 22px;
}
.item-tarif_check .item-tarif__head::after {
    width: 21px;
    height: 21px;
    right: 16px;
}
.item-tarif__content {
    padding: 23px;
}
.item-tarif__name {
    height: 40px;
    margin-right: 18px;
    min-width: 114px;
    font-size: 13px;
    padding: 0 8px;
}
.item-tarif__name img {
    margin-right: 7px;
    width: 21px;
}
.item-tarif__value strong {
    font-size: 27px;
}
.item-tarif__line {
    margin-bottom: 20px;
}
.item-tarif__bottom {
    padding-top: 13px;
}
.row.row_main > div {
    margin-bottom: 20px;
}
.row.row_main {
    margin-bottom: -20px;
}
.bottom-button {
    padding-top: 42px;
}
.callback__block {
    padding: 45px 10px;
}
.callback__title {
    font-size: 23px;
}
.line-form .btn-main {
    margin-left: 8px;
    font-size: 12px;
    padding: 0 30px;
    height: 44px;
}
.line-form .item-form {
    width: 250px;
}
.checkbox {
    font-size: 11px;
}
.checkbox label > span {
    padding: 3px 0 0 26px;
}
.checkbox label > span:before {
    width: 17px;
    height: 17px;
}
.line-form .checkbox {
    max-width: 185px;
}
.services {
    padding-top: 50px;
}
.item-service__image {
    width: 160px;
    margin-right: 15px;
}
.item-service {
    height: 250px;
    padding: 15px;
}
.title-block {
    font-size: 26px;
}
.item-service .btn-main {
    height: 38px;
    padding: 0 19px;
    font-size: 12px;
}
.item-service__head {
    margin-bottom: 16px;
    margin-right: 0px;
}
.item-service .title-middle {
    margin-bottom: 15px;
}
.item-service_equipment .item-service__image {
    margin-left: -20px;
    margin-top: -10px;
    margin-bottom: -15px;
}
.item-service_help .item-service__content > .btn-main, .item-service_equipment .item-service__content > .btn-main {
    margin-top: 20px;
}
.item-service.item-service_actions p {
    max-width: 318px;
}
.item-service_help .item-service__image {
    margin-top: -32px;
    margin-left: -12px;
    width: 163px;
}
.advantages__image {
    margin-left: -186px;
}
.advantages__image img {
    width: 880px;
}
.row.row_advantages > div {
    padding: 0 8px;
    margin-bottom: 16px;
}
.row.row_advantages {
    margin: 0 -8px;
    margin-bottom: -16px;
}
.item-advantage {
    padding: 23px 15px;
    font-size: 12px;
}
.item-advantage__icon {
    width: 34px;
    height: 34px;
    margin-bottom: 15px;
}
.advantages {
    margin-top: -55px;
}
.title-section {
    font-size: 46px;
}
.about .title-section {
    margin-bottom: 15px;
}
.about p {
    max-width: 625px;
}
.title-small {
    font-size: 18px;
}
.about .title-small {
    margin-top: 35px;
    margin-bottom: 20px;
}
.about ul li {
    padding-left: 29px;
    margin-bottom: 16px;
}
.about ul li::before {
    width: 15px;
    height: 15px;
}
.title-about {
    font-size: 22px;
}
.about .title-about {
    margin-top: 35px;
    max-width: 636px;
}
.about__image {
    margin-left: -131px;
    margin-top: 24px;
}
.about__image img {
    max-width: 800px;
}
.title-page {
    font-size: 31px;
}
.reviews .title-page {
    margin-bottom: 33px;
}
.about {
    padding-bottom: 80px;
}
.slider-reviews .slick-slide {
    padding: 0 10px;
}
.slider-reviews .slick-list {
    margin: 0 -10px;
}
.item-review {
    padding: 20px 30px;
    padding-right: 18px;
    padding-bottom: 27px;
}
.item-review__title {
    font-size: 16px;
}
.item-review__date {
    font-size: 13px;
}
.rating__item {
    font-size: 16px;
    margin-right: 4px;
}
.item-review__image {
    width: 55px;
    height: 55px;
    margin-right: 12px;
}
.reviews {
    padding-bottom: 63px;
}
.footer__contact a {
    font-size: 19px;
}
.footer {
    font-size: 12px;
    padding-top: 35px;
}
.row > div:nth-child(1) .footer__column {
    margin-right: -20px;
}
.footer__name, .footer__title {
    font-size: 14px;
    margin-bottom: 13px;
}
.footer__nav li {
    margin-bottom: 16px;
}
.row > div:nth-child(4) .footer__column, .row > div:nth-child(3) .footer__column {
    margin-left: 20px;
}
.row > div:nth-child(2) .footer__column {
    margin-left: 50px;
}
.row > div:nth-child(6) .footer__column {
    margin-left: -12px;
}
.list-payments {
    gap: 16px;
}
.list-payments img {
    max-width: 40px;
}
.footer__name:not(:first-child) {
    margin-top: 25px;
}
.wrapper {
    padding-top: 76px;
}
.page-links a {
    height: 43px;
    padding: 0 15px;
    font-size: 12px;
}
.title-main {
    font-size: 36px;
}
.page-links {
    margin-top: -48px;
    margin-bottom: 36px;
}
.item-sale__image {
    height: 282px;
}
.item-sale__content {
    padding: 16px 18px;
    padding-bottom: 21px;
}
.item-sale__title {
    font-size: 18px;
    margin-bottom: 18px;
}
.item-sale p {
    margin-bottom: 14px;
}
.item-sale__image::after {
    background-size: 400px auto;
}
.row_main > div:nth-child(3) .item-sale__image::after, 
.row_main > div:nth-child(2) .item-sale__image::after {
    background-size: 600px auto;
}
.pager {
    height: 42px;
    margin-top: 55px;
}
.prev.page-numbers, .next.page-numbers {
    width: 46px;
    height: 42px;
}
.page-sale {
    padding-top: 22px;
    padding-bottom: 65px;
}
.page-news {
    padding-top: 25px;
    padding-bottom: 55px;
}
.page-news .title-main {
    margin-bottom: 24px;
}
.item-news {
    padding: 15px 18px;
}
.item-news__image {
    height: 223px;
}
.item-news__title {
    font-size: 20px;
    max-width: 370px;
    margin-bottom: 14px;
}
.page-about {
    padding-top: 45px;
    padding-bottom: 60px;
}
.billbord-about {
    height: 560px;
    padding: 55px;
    padding-top: 25px;
    padding-bottom: 100px;
}
.title-billbord {
    font-size: 69px;
    max-width: 465px;
}
.billbord-about::after {
    width: 1260px;
    height: 474px;
    bottom: 22px;
    left: 21px;
}
.about__info {
    padding: 40px 65px;
    margin-top: 70px;
    font-size: 16px;
}
.billbord-about.billbord-about_vacancies::after {
    width: 1100px;
    height: 500px;
    top: 55px;
}
.billbord-about.billbord-about_vacancies {
    margin-bottom: 70px;
}
.item-vacancy__head {
    font-size: 24px;
    padding: 24px 35px;
    padding-right: 20px;
}
.item-vacancy__content {
    padding: 0 50px;
    padding-bottom: 30px;
    font-size: 16px;
}
.title-about.title-about_vacancies {
    max-width: 813px;
    padding-top: 40px;
    padding-bottom: 35px;
}
.form-page {
    padding: 36px 140px;
}
.page-vacancies {
    padding-top: 45px;
    padding-bottom: 80px;
}
.unit-contacts {
    padding: 19px 21px;
    font-size: 15px;
}
.unit-contacts__phone {
    font-size: 28px;
}
.unit-contacts__mail {
    font-size: 21px;
}
.unit-contacts__tel {
    padding-top: 23px;
    padding-bottom: 15px;
}
.unit-contacts__links {
    font-size: 13px;
    padding-top: 5px;
}
.unit-contacts__tel a {
    font-size: 18px;
}
.item-form textarea {
    height: 90px;
    padding-top: 15px;
}
.form-main {
    padding: 17px 36px;
    padding-bottom: 27px;
}
.form-main .checkbox {
    margin-top: 15px;
}
.form-main_bottom {
    padding-top: 0;
}
.form-main .title-about {
    margin-bottom: 12px;
}
.unit-contacts .title-about {
    max-width: 300px;
}
#map {
    height: 390px;
    margin-top: 38px;
}
.page-contacts .title-main {
    margin-bottom: 23px;
}
.page-contacts {
    padding-top: 25px;
    padding-bottom: 55px;
}
.page-requisites .title-main {
    margin-bottom: 24px;
}
.page-requisites .title-middle {
    margin-bottom: 22px;
}
.item-dropdown__head {
    padding: 10px 25px;
    font-size: 18px;
    padding-right: 12px;
}
.item-dropdown__head::after {
    width: 21px;
    height: 21px;
}
.list-docs li a img {
    width: 28px;
}
.list-docs li a {
    padding-left: 38px;
}
.item-dropdown__content {
    padding: 25px;
    padding-top: 0;
}
.documents-wrap {
    padding: 55px 0;
}
.item-doc {
    padding: 13px;
    padding-bottom: 22px;
}
.item-doc__image {
    height: 168px;
    margin-bottom: 13px;
}
.item-doc__icon {
    top: 17px;
    left: 14px;
    width: 28px;
    height: 28px;
}
.item-doc__image img {
    max-height: 110px;
}
.page-payment {
    padding-top: 45px;
    padding-bottom: 70px;
}
.form-payment {
    padding: 28px 37px;
    padding-bottom: 44px;
}
.form-payment .title-middle {
    padding-bottom: 20px;
}
.form-payment .item-form .jq-selectbox__select-text, .form-payment .item-form input {
    height: 54px;
    font-size: 13px;
}
.form-payment .item-form .jq-selectbox__dropdown {
    font-size: 13px;
}
.form-payment .item-form {
    margin-bottom: 15px;
}
.form-payment .btn-main {
    margin-top: 15px;
}
.tabs-payment a {
    height: 75px;
    padding: 0 29px;
    padding-right: 25px;
    font-size: 24px;
}
.tabs-payment img {
    max-width: 35px;
    max-height: 37px;
}
.billbord-about_payment {
    margin-bottom: 60px;
}
.page-questions .title-main {
    margin-bottom: 27px;
}
.item-additional__head,
.item-question {
    font-size: 21px;
    padding: 21px 35px;
    padding-right: 25px;
}
.form-question {
    padding: 32px 145px;
    margin-top: 80px;
}
.form-question .item-form textarea {
    height: 105px;
}
.page-questions {
    padding-bottom: 80px;
}
.item-equipment {
    padding: 16px;
}
.item-equipment__title {
    font-size: 17px;
    margin-bottom: 7px;
}
.item-equipment__text {
    font-size: 12px;
    line-height: 190%;
}
.tag-equipment {
    padding: 5px 11px;
    font-size: 12px;
    line-height: 210%;
}
.item-equipment__image {
    height: 210px;
}
.item-equipment__value {
    font-size: 13px;
}
.price-main {
    font-size: 21px;
}
.item-equipment .btn-main {
    height: 42px;
    padding: 0 24px;
}
.page-equipment .title-main {
    margin-bottom: 25px;
}
.descr-equipmenent {
    padding-top: 32px;
}
.page-additional,
.page-equipment {
    padding-bottom: 80px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header__wrapper .phone-main {
        font-size: 0;
        line-height: 0;
    }
    .header .phone-main i {
        font-size: 20px;
        color: #1C3A78;
        display: block;
    }
    body {
        font-size: 12px;
    }
    .menu a {
        height: 30px;
        padding: 0 4px;
    }
    .logo img {
        width: 115px;
    }
    .menu {
        margin: 0 5px;
    }
    .header {
        padding: 12px 0;
    }
    .billbord {
        padding-top: 14px;
    }
    .banner__main {
        height: 325px;
        padding: 23px 20px;
    }
    .title-big {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .title-middle {
        font-size: 17px;
    }
    .banner__main .title-big, .banner__main .title-middle {
        max-width: 244px;
    }
    .banner__small {
        height: 119px;
        padding: 7px 10px;
        margin-bottom: 10px;
    }
    .subtitle-main {
        font-size: 15px;
    }
    .banner__small .subtitle-main {
        max-width: 101px;
    }
    .banner__small .title-middle {
        margin-bottom: 7px;
    }
    .banner__small:nth-child(2) {
        height: 199px;
    }
    .btn-main {
        height: 44px;
    }
    .tabs-filter a {
        font-size: 11px;
        height: 40px;
        padding: 0 13px;
    }
    .tabs-filter {
        gap: 9px;
    }
    .filter-main__item .item-form {
        width: 190px;
    }
    .row > div {
        padding: 0 5px;
    }
    .row {
        margin: 0 -5px;
    }
    .row.row_main > div {
        margin-bottom: 10px;
    }
    .row.row_main {
        margin-bottom: -10px;
    }
    .item-tarif__head {
        height: 60px;
        font-size: 19px;
    }
    .item-tarif__content {
        padding: 10px;
    }
    .item-tarif__name {
        height: 33px;
        margin-right: 12px;
        min-width: 102px;
        font-size: 11px;
        padding: 0 7px;
    }
    .item-tarif__name img {
        margin-right: 5px;
        width: 18px;
    }
    .item-tarif__value strong {
        font-size: 22px;
    }
    .item-tarif__line {
        margin-bottom: 15px;
    }
    .item-tarif .btn-main {
        font-size: 13px;
        height: 40px;
    }
    .callback__title {
        font-size: 20px;
    }
    .line-form .btn-main {
        margin-left: 0px;
        font-size: 11px;
        padding: 0 20px;
        height: 40px;
    }
    .line-form {
        gap: 8px;
    }
    .line-form .checkbox {
        max-width: 168px;
    }
    .item-service__image {
        width: 125px;
        margin-right: 10px;
    }
    .title-block {
        font-size: 20px;
    }
    .item-service .btn-main {
        height: 32px;
        padding: 0px 11px;
        font-size: 10px;
    }
    .item-service {
        height: 225px;
    }
    .item-service_help .item-service__image {
        width: 150px;
    }
    .advantages__image {
        margin-left: -162px;
    }
    .advantages__image img {
        width: 745px;
    }
    .item-advantage {
        padding: 15px 10px;
        font-size: 11px;
    }
    .row.row_advantages > div {
        padding: 0 4px;
        margin-bottom: 8px;
    }
    .row.row_advantages {
        margin: 0 -4px;
        margin-bottom: -8px;
    }
    .item-advantage__icon {
        width: 31px;
        height: 31px;
        margin-bottom: 12px;
    }
    .title-section {
        font-size: 40px;
    }
    .about ul li {
        padding-left: 26px;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    .title-about {
        font-size: 18px;
    }
    .about .title-about {
        margin-top: 20px;
    }
    .about__image img {
        max-width: 660px;
    }
    .about__image {
        margin-left: -110px;
    }
    .about ul {
        max-width: 450px;
        grid-template-columns: 1fr 1fr;
    }
    .about .title-small {
        margin-top: 15px;
        margin-bottom: 13px;
    }
    .title-page {
        font-size: 27px;
    }
    .reviews .title-page {
        margin-bottom: 25px;
    }
    .about {
        padding-bottom: 55px;
    }
    .footer__contact a {
        font-size: 17px;
    }
    .wrapper {
        padding-top: 60px;
    }
    .item-sale__image {
        height: 220px;
    }
    .item-sale__image::after {
        background-size: 320px auto;
    }
    .row_main > div:nth-child(3) .item-sale__image::after, .row_main > div:nth-child(2) .item-sale__image::after {
        background-size: 465px auto;
    }
    .item-news {
        padding: 10px;
    }
    .item-news__image {
        height: 176px;
    }
    .item-news__title {
        font-size: 17px;
    }
    .billbord-about {
        height: 440px;
        padding: 40px;
        padding-top: 20px;
        padding-bottom: 56px;
    }
    .title-billbord {
        font-size: 56px;
        max-width: 415px;
    }
    .billbord-about::after {
        width: 990px;
        height: 360px;
        bottom: 8px;
        left: 5px;
    }
    .about__info {
        padding: 32px 40px;
        margin-top: 55px;
        font-size: 14px;
    }
    .billbord-about.billbord-about_vacancies::after {
        width: 850px;
        height: 403px;
        top: 35px;
    }
    .item-vacancy__head {
        font-size: 21px;
    }
    .form-page {
        padding: 36px 40px;
    }
    .title-about.title-about_vacancies {
        max-width: 665px;
    }
    .unit-contacts__phone {
        font-size: 23px;
    }
    .unit-contacts__mail {
        font-size: 18px;
    }
    .unit-contacts {
        padding: 19px 20px;
        font-size: 13px;
    }
    .form-main {
        padding: 15px 20px;
        padding-bottom: 23px;
    }
    .unit-contacts .list-socials img {
        width: 43px;
    }
    .unit-contacts__links li {
        margin-bottom: 12px;
    }
    .item-doc__title br {
        display: none;
    }
    .page-requisites {
        padding-bottom: 70px;
    }
    .form-payment {
        padding: 25px 20px;
        padding-bottom: 30px;
    }
    .text-payment .btn-main {
        font-size: 13px;
    }
    .tabs-payment a {
        height: 69px;
        padding: 0 25px;
        padding-right: 20px;
        font-size: 21px;
    }
    .tabs-payment img {
        max-width: 30px;
        max-height: 33px;
    }
    .form-question {
        padding: 30px 60px;
        margin-top: 60px;
    }
    .form-question .title-about {
        margin-bottom: 20px;
    }
    .form-question__bottom {
        padding-top: 9px;
    }
    .item-answer .btn-main {
        margin-top: 22px;
        min-width: 215px;
    }
    .item-equipment__text {
        font-size: 10px;
    }
    .item-equipment__title {
        font-size: 14px;
    }
    .item-equipment__image {
        height: 185px;
    }
    .price-main {
        font-size: 18px;
    }
    .table-page table th, .table-page table td {
        padding: 10px 25px;
    }
    .page-additional .title-main {
        margin-bottom: 17px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header__wrapper .btn-main,
    .header__wrapper .btn-tg,
    .menu {
        display: none;
    }
    .banners-wrap {
        gap: 6px;
        display: flex;
    }
    .banner__small {
        flex: 1;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .filter-main {
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .filter-main__item:nth-child(3) {
        flex: none;
        width: 100%;
        margin-top: 8px;
        justify-content: flex-start;
        margin-right: 0;
    }
    .filter-main__item {
        margin-bottom: 15px;
    }
    .callback__title {
        margin-bottom: 20px;
        text-align: center;
    }
    .line-form {
        flex-wrap: wrap;
    }
    .line-form .checkbox {
        max-width: 100%;
        margin-top: 15px;
    }
    .line-form .btn-main {
        padding: 0 43px;
    }
    .item-service__image {
        width: 152px;
    }
    .advantages__image img {
        width: 910px;
    }
    .advantages__image {
        margin-left: -181px;
        margin-bottom: -30px;
    }
    .about {
        padding-top: 40px;
    }
    .about ul {
        max-width: 100%;
    }
    .about__image img {
        max-width: 990px;
    }
    .footer__column {
        margin: 0 !important;
    }
    .footer__content {
        padding-top: 15px;
        display: none;
    }
    .footer__title {
        padding: 10px 0;
        border-bottom: 1px #fff solid;
        margin: 0; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__title i {
        display: inline-block;
        transition: all 0.3s;
    }
    .footer__title.active i {
        transform: rotate(180deg);
    }
    .footer-bottom .row > div {
        padding-bottom: 15px;
    }
    .btn_top {
        margin-top: -50px;
    }
    .hidden-mob {
        display: none;
    }
    .footer__contact {
        margin-bottom: 14px;
    }
    body {
        font-size: 13px;
    }
    .wrapper {
        padding-top: 59px;
    }
    .billbord {
        padding-top: 0;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 50px;
        display: none;
        overflow: auto;
        background-color: #fff;
        position: absolute;
      }
      .menu a {
        margin: 0;
        padding: 10px;
        border-radius: 0;
        text-align: left;
        height: auto;
        display: block;
        position: relative;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #191E27;
      }
      .menu-mobile .menu {
        display: block;
        margin: 0;
      }
      .menu-mobile__contacts,
      .menu-mobile__buttons {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
      }
      .header .btn-main {
        font-size: 13px;
        padding: 0 17px;
        height: 40px;
    }
    .menu-overlay {
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
    }
    .menu a:hover {
        color: #191E27;
        background: transparent;
    }
    .item-sale__image {
        height: 335px;
    }
    .page-links {
        margin-top: 0;
        margin-bottom: 25px;
    }
    .title-main {
        font-size: 32px;
    }
    .page-sale .title-main {
        margin-bottom: 15px;
    }
    .pager {
        margin-top: 35px;
    }
    .row_main > div:nth-child(3) .item-sale__image::after, .row_main > div:nth-child(2) .item-sale__image::after {
        background-size: 725px auto;
    }
    .item-sale__image::after {
        background-size: 450px auto;
    }
    .billbord-about::after {
        width: 760px;
        height: 288px;
        bottom: -3px;
        left: 5px;
    }
    .about .title-about.title-about_top {
        padding-top: 0;
    }
    .page-about {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .file-upload {
        justify-content: center;
        display: flex;
    }
    .col_btn {
        text-align: center;
    }
    .col_btn .btn-main {
        width: 100%;
        margin-top: 20px;
    }
    .form-page .checkbox {
        white-space: normal;
    }
    .page-vacancies {
        padding-top: 35px;
        padding-bottom: 55px;
    }
    .billbord-about.billbord-about_vacancies::after {
        width: 650px;
        height: 320px;
        top: 35px;
    }
    .billbord-about.billbord-about_vacancies {
        margin-bottom: 45px;
    }
    .unit-contacts__left {
        margin-right: 0;
    }
    .unit-contacts__right {
        padding-top: 15px;
        margin-left: 0;
    }
    .unit-contacts__tel {
        padding-top: 12px;
    }
    .page-contacts .form-main {
        margin-top: 20px;
    }
    .page-contacts .title-main {
        margin-bottom: 16px;
    }
    .row_requisites > div {
        margin-bottom: 20px;
    }
    .row_requisites > div:last-child {
        margin-bottom: 0;
    }
    .row_requisites {
        padding-bottom: 20px;
    }
    .item-doc__image {
        height: 135px;
    }
    .item-doc__image img {
        max-height: 90px;
    }
    .item-additional__head,
    .item-question {
        font-size: 18px;
        padding: 19px 20px;
        padding-right: 16px;
        margin-bottom: 15px;
    }
    .item-additional__head::after,
    .item-question::after {
        width: 21px;
        height: 21px;
    }
    .form-question {
        padding: 30px 20px;
    }
    .item-answer img {
        margin-top: 20px;
    }
    .page-answer .title-main {
        font-size: 29px;
        margin-bottom: 20px;
    }
    .page-answer {
        padding-bottom: 70px;
    }
    .item-equipment__text {
        font-size: 13px;
    }
    .item-equipment__title {
        font-size: 16px;
    }
    .item-equipment__value {
        font-size: 14px;
    }
    .page-equipment .row.row_main > div {
        margin-bottom: 15px;
    }
    .item-equipment .btn-main {
        height: 44px;
        padding: 0 35px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .title-big {
        font-size: 40px;
    }
    .title-middle {
        font-size: 15px;
    }
    .banner__main .title-middle {
        max-width: 215px;
    }
    .banner__main {
        height: 285px;
    }
    .item-tarif__content {
        padding: 25px;
    }
    .line-form .item-form {
        margin-bottom: 20px;
        width: 100% !important;
    }
    .line-form {
        display: block;
    }
    .line-form .btn-main {
        width: 100%;
        padding: 0 10px;
    }
    .line-form .checkbox {
        margin-top: 23px;
    }
    .callback__block {
        padding: 30px;
    }
    .item-service__image {
        width: 128px;
    }
    .advantages__image img {
        width: 725px;
    }
    .title-section {
        font-size: 35px;
    }
    .about {
        padding-bottom: 40px;
    }
    .reviews {
        padding-bottom: 45px;
    }
    .filter-main__item .item-form {
        width: 100%;
    }
    .item-tarif__name {
        height: 36px;
        margin-right: 16px;
        min-width: 117px;
        font-size: 13px;
        padding: 0 10px;
    }
    .item-tarif__name img {
        margin-right: 8px;
        width: 21px;
    }
    .item-tarif__value strong {
        font-size: 26px;
    }
    .about__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .about__image img {
        position: relative;
        max-width: 635px;
        left: 21px;
    }
    .item-sale__image {
        height: 223px;
    }
    .item-sale__image::after {
        background-size: 330px auto;
    }
    .item-sale .btn-main {
        height: 41px;
        padding: 0 16px;
        font-size: 13px;
    }
    .row.row_main > div {
        margin-bottom: 15px;
    }
    .row_main > div:nth-child(3) .item-sale__image::after, .row_main > div:nth-child(2) .item-sale__image::after {
        background-size: 575px auto;
    }
    .item-sale__title {
        font-size: 17px;
        margin-bottom: 11px;
    }
    .page-sale {
        padding-bottom: 50px;
    }
    .pager {
        margin-top: 26px;
    }
    .item-news__image {
        height: 245px;
    }
    .page-news {
        padding-top: 15px;
        padding-bottom: 50px;
    }
    .page-news .title-main {
        margin-bottom: 13px;
    }
    .billbord-about {
        padding: 30px 15px;
        height: 350px;
        margin: 0 -15px;
        border-radius: 0;
    }
    .title-billbord {
        font-size: 40px;
        max-width: 335px;
    }
    .page-about {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .billbord-about::after {
        width: 460px;
        height: 185px;
        bottom: 3px;
        left: -18px;
    }
    .page-about + .about .about__image {
        padding-top: 20px;
    }
    .about__info {
        padding: 22px 15px;
        margin-top: 40px;
        font-size: 13px;
    }
    .about .title-about.title-about_top {
        padding-bottom: 10px;
    }
    .page-about + .about {
        padding-bottom: 50px;
    }
    .about__info .title-about {
        margin-bottom: 12px;
    }
    .billbord-about.billbord-about_vacancies::before {
        border-radius: 0;
    }
    .billbord-about.billbord-about_vacancies::after {
        width: 518px;
        height: 255px;
        top: 60px;
    }
    .item-vacancy__head {
        font-size: 16px;
        padding: 18px;
    }
    .item-vacancy__head::after {
        width: 21px;
        height: 21px;
    }
    .item-vacancy__content {
        padding: 20px 15px;
        font-size: 14px;
        padding-top: 0;
    }
    .item-vacancy__content ul {
        margin-bottom: 14px;
    }
    .title-about.title-about_vacancies {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .page-requisites .title-main {
        margin-bottom: 18px;
    }
    .item-dropdown__head {
        padding: 8px 18px;
        font-size: 15px;
        padding-right: 12px;
    }
    .item-dropdown__content {
        padding: 15px;
        padding-top: 0;
    }
    .documents-wrap {
        padding: 35px 0;
    }
    .page-requisites {
        padding-bottom: 55px;
    }
    .page-payment {
        padding-top: 0;
        padding-bottom: 40px;
    }
    .billbord-about_payment {
        margin-bottom: 25px;
    }
    .form-payment {
        margin-bottom: 20px;
    }
    .page-questions .title-main {
        font-size: 28px;
        line-height: 140%;
        margin-bottom: 22px;
    }
    .item-additional__head,
    .item-question {
        font-size: 16px;
        padding: 15px 15px;
        padding-right: 10px;
        margin-bottom: 14px;
    }
    .form-question {
        padding: 30px;
        margin-top: 40px;
    }
    .form-question__bottom {
        flex-direction: column-reverse;
    }
    .form-question__bottom .checkbox{ 
        margin-top: 17px;
    }
    .page-questions {
        padding-bottom: 60px;
    }
    .page-answer .title-main {
        font-size: 24px;
        line-height: 140%;
    }
    .item-answer {
        margin-bottom: 35px;
    }
    .item-equipment__image {
        height: 210px;
        margin-bottom: 20px;
    }
    .item-equipment__bottom {
        padding-top: 10px;
    }
    .row_equipment {
        padding-top: 12px;
    }
    .item-equipment__value {
        font-size: 13px;
    }
    .page-additional,
    .page-equipment {
        padding-bottom: 55px;
    }
    .descr-equipmenent {
        padding-top: 22px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .title-big {
        font-size: 30px;
    }
    .banner__main .title-middle {
        font-size: 13px;
        max-width: 185px;
    }
    .banner__main {
        height: 250px;
    }
    .banner__small:nth-child(2) {
        height: 140px;
        font-size: 10px;
    }
    .banner__small {
        height: 140px;
    }
    .banner__small .subtitle-main {
        max-width: 87px;
        font-size: 13px;
    }
    .banner__small .title-middle {
        margin-bottom: 4px;
        font-size: 12px;
    }
    .tarifs {
        padding-top: 35px;
    }
    .bottom-button {
        padding-top: 33px;
    }
    .callback {
        padding-top: 37px;
    }
    .item-service {
        height: 225px;
        font-size: 13px;
        line-height: 140%;
    }
    .item-service__image {
        display: none;
    }
    .item-service {
        min-height: 200px;
        height: auto;
    }
    .item-service .btn-main {
        font-size: 12px;
    }
    .title-section {
        font-size: 28px;
    }
    .about ul {
        display: block;
    }
    .about ul li {
        padding-right: 0;
    }
    .reviews .title-page {
        margin-bottom: 20px;
    }
    .title-page {
        font-size: 23px;
    }
    .item-review {
        padding: 16px 20px;
        padding-right: 12px;
        padding-bottom: 23px;
        line-height: 150%;
    }
    .item-review__title {
        font-size: 14px;
    }
    .item-review__image {
        width: 50px;
        height: 50px;
        margin-right: 7px;
    }
    .rating__item {
        font-size: 13px;
        margin-right: 2px;
    }
    .item-review__date {
        font-size: 12px;
    }
    .slick-prev {
        right: auto;
        left: 0;
    }
    .slick-arrow {
        border-radius: 6px;
    }
    .row_main > div:nth-child(3) .item-sale__image::after, .row_main > div:nth-child(2) .item-sale__image::after {
        background-size: 475px auto;
    }
    .item-sale__image::after {
        background-size: 291px auto;
    }
    .item-news__image {
        height: 215px;
    }
    .billbord-about.billbord-about_vacancies::after {
        width: 380px;
        height: 230px;
    }
    .form-page {
        padding: 30px 20px;
    }
    .unit-contacts .title-about {
        max-width: 245px;
    }
    #map {
        height: 350px;
        margin-top: 30px;
    }
    .item-doc__icon {
        width: 25px;
        height: 25px;
    }
    .item-doc {
        padding: 8px;
        padding-bottom: 17px;
    }
    .item-doc__image {
        height: 120px;
    }
    .item-doc__image img {
        max-height: 79px;
    }
    .list-docs li {
        margin-bottom: 15px;
    }
    .billbord-about_payment {
        height: 300px;
        padding-top: 20px;
    }
    .form-main .btn-main,
    .form-question .btn-main {
        width: 100%;
    }
    .form-main .btn-main {
        margin-top: 10px;
    }
    .form-question {
        padding: 30px 20px;
    }
    .item-additional__head,
    .item-question {
        font-size: 14px;
        padding: 12px 15px;
        padding-right: 12px;
    }
    .item-additional__head::after,
    .item-question::after {
        width: 18px;
        height: 18px;
    }
    .page-questions .title-main {
        font-size: 23px;
    }
    .page-answer .title-main {
        font-size: 23px;
    }
    .page-answer {
        padding-bottom: 60px;
    }
    .page-additional .title-main,
    .page-equipment .title-main {
        margin-bottom: 22px;
    }
    .table-page table th, .table-page table td {
        padding: 8px 20px;
    }
    .item-additional {
        margin-bottom: 18px;
    }
    .page-additional .title-main {
        font-size: 27px;
        line-height: 140%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu-overlay,
    .menu-mobile,
    .show-mob {
        display: none !important;
    }
    .footer__content {
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
    max-width: 1470px;
}
}